version: "3.9"

services:
  backend:
    build: .
    container_name: delivery-backend
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      MONGODB_URI: mongodb://mongo:27017/delivery-app
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: delivery-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:

